.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(249, 166, 0);
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: rgb(249, 166, 0);
}

h2 {
    text-align: center;
    font-size: 50px;
}

button {
    font: inherit;
    border: 1px solid rgb(249, 166, 0);
    background: rgb(255, 255, 255);
    color: rgb(249, 166, 0);
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active {
    background: rgb(249, 166, 0);
    color: black;
}

